[global]
   workgroup = WORKGROUP
   server string = %h server
   security = user
   map to guest = bad user

[Proyectos]
   path = /srv/samba/proyectos
   writable = yes
   browsable = yes
   valid users = @desarrolladores
